p {
    color: red;
}

/* Additional CSS rules */
body {
  background-color: purple;
  text-align: center;
}

h1 {
  font-size: 24px;
  color: white;
}

.text {
  color: orange;
}

#smiley {
  width: 300px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
